<%= form_with(model: not_to_do) do |form| %>
  <% if not_to_do.errors.any? %>
     <section class="error">
      <h2><%= pluralize(not_to_do.errors.count, "error") %> prevented the creation of your not-to-do.</h2>
      <ul>
        <% not_to_do.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <div>
    <%= form.label :listdate, "Date", style: "display: block" %>
    <%= form.date_field :listdate %>
  </div>
  <div>
    <%= form.label :done, "Not done", style: "display: block" %>
    <%= form.check_box :done %>
  </div>
  <div>
    <%= form.label :name, "Name", style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.hidden_field :position %>
  </div>
  <div>
    <%= form.label :priority, "Priority", style: "display: block" %>
    <%= form.select :priority, [["Select a priority", nil], "High", "Normal", "Low"], class: "form-select" %>
  </div>
  <div>
    <%= form.hidden_field :user_id %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>