<div id="<%= dom_id not_to_do %>">
  <p>
    <strong>Listdate:</strong>
    <%= not_to_do.listdate %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= not_to_do.done %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= not_to_do.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= not_to_do.position %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= not_to_do.priority %>
  </p>

  <p>
    <strong>User:</strong>
    <%= not_to_do.user_id %>
  </p>

</div>
