<%= form_with(model: challenge) do |form| %>
  <% if challenge.errors.any? %>
    <section class="error">
      <h2>Wait!</h2>
      <p><%= pluralize(challenge.errors.count, "error") %> prevented the creation of your challenge.</p>
      <ul>
        <% challenge.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <div>
    <%= form.label :cdate, style: "display: block" %>
    <%= form.date_field :cdate %>
  </div>
  <div>
    <%= form.label :name, "Name", style: "display: block" %>
    <%= render "inline_fields", form: form, attribute: :name do %>
      <%= form.text_field :name, class: "inline_edit" %>
    <% end %>
  </div>
  <div>
    <%= form.label :check, style: "display: block" %>
    <%= render "inline_fields", form: form, attribute: :check do %>
      <%= form.check_box :check %>
      <div class="tick"></div>
    <% end %>
  </div>
  <div>
    <%= form.hidden_field :position %>
  </div>
  <div>
    <%= form.hidden_field :user_id %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>