<%= form_with(model: tracker) do |form| %>
  <% if tracker.errors.any? %>
    <section class="error">
      <h2>Wait!</h2>
      <p><%= pluralize(tracker.errors.count, "error") %> prevented the creation of your habit tracker.</p>
      <ul>
        <% tracker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <div class="col-lg-3 float-start">
    <%= form.label :title, "Name your habit", style: "display: block" %>
    <%= form.text_field :title, class: "title inline_edit" %>
    <%= form.label :score, "Score your habit", style: "display: block" %>
    <%= form.select :score, [["Select a score", nil], "Good", "Neutral", "Bad"], class: "form-select" %>
  </div>
  <div class="col-lg-6 float-start">
    <%= form.label :habitdate, "Start date", style: "display: block" %>
    <%= form.date_field :habitdate %>
    <%= form.label :intention, "Intention of implementation", style: "display: block" %>
    <%= render "inline_fields", form: form, attribute: :intention do %>
      <%= form.text_field :intention, class: "inline_edit" %>
    <% end %>
    <div class="col-lg-12 days">
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day1 do %>
          <div class="in-track">
            <%= form.label :"1" %>
            <%= form.check_box :day1, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day2 do %>
          <div class="in-track">
            <%= form.label :"2" %>
            <%= form.check_box :day2, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day3 do %>
          <div class="in-track">
            <%= form.label :"3" %>
            <%= form.check_box :day3, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day4 do %>
          <div class="in-track">
            <%= form.label :"4" %>
            <%= form.check_box :day4, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day5 do %>
          <div class="in-track">
            <%= form.label :"5" %>
            <%= form.check_box :day5, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day6 do %>
          <div class="in-track">
            <%= form.label :"6" %>
            <%= form.check_box :day6, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day7 do %>
        <div class="in-track">
          <%= form.label :"7" %>
          <%= form.check_box :day7, class: "daycheck" %>
          <div class="tick"></div>
        </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day8 do %>
        <div class="in-track">
          <%= form.label :"8" %>
          <%= form.check_box :day8, class: "daycheck" %>
          <div class="tick"></div>
        </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day9 do %>
          <div class="in-track">
            <%= form.label :"9" %>
            <%= form.check_box :day9, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day10 do %>
          <div class="in-track">
            <%= form.label :"10" %>
            <%= form.check_box :day10, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day11 do %>
          <div class="in-track">
            <%= form.label :"11" %>
            <%= form.check_box :day11, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day12 do %>
          <div class="in-track">
            <%= form.label :"12" %>
            <%= form.check_box :day12, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day13 do %>
          <div class="in-track">
            <%= form.label :"13" %>
            <%= form.check_box :day13, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day14 do %>
          <div class="in-track">
            <%= form.label :"14" %>
            <%= form.check_box :day14, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day15 do %>
          <div class="in-track">
            <%= form.label :"15" %>
            <%= form.check_box :day15, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day16 do %>
          <div class="in-track">
            <%= form.label :"16" %>
            <%= form.check_box :day16, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day17 do %>
          <div class="in-track">
            <%= form.label :"17" %>
            <%= form.check_box :day17, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day18 do %>
          <div class="in-track">
            <%= form.label :"18" %>
            <%= form.check_box :day18, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day19 do %>
          <div class="in-track">
            <%= form.label :"19" %>
            <%= form.check_box :day19, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day20 do %>
          <div class="in-track">
            <%= form.label :"20" %>
            <%= form.check_box :day20, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day21 do %>
          <div class="in-track">
            <%= form.label :"21" %>
            <%= form.check_box :day21, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day22 do %>
          <div class="in-track">
            <%= form.label :"22" %>
            <%= form.check_box :day22, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day23 do %>
          <div class="in-track">
            <%= form.label :"23" %>
            <%= form.check_box :day23, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day24 do %>
          <div class="in-track">
            <%= form.label :"24" %>
            <%= form.check_box :day24, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day25 do %>
          <div class="in-track">
            <%= form.label :"25" %>
            <%= form.check_box :day25, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day26 do %>
          <div class="in-track">
            <%= form.label :"26" %>
            <%= form.check_box :day26, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day27 do %>
          <div class="in-track">
            <%= form.label :"27" %>
            <%= form.check_box :day27, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day28 do %>
          <div class="in-track">
            <%= form.label :"28" %>
            <%= form.check_box :day28, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day29 do %>
          <div class="in-track">
            <%= form.label :"29" %>
            <%= form.check_box :day29, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day30 do %>
          <div class="in-track">
            <%= form.label :"30" %>
            <%= form.check_box :day30, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
      <div class="track float-start">
        <%= render "inline_fields", form: form, attribute: :day31, class: "day" do %>
          <div class="in-track">
            <%= form.label :"31" %>
            <%= form.check_box :day31, class: "daycheck" %>
            <div class="tick"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-3 float-start">
    <%= form.label :progress, style: "display: block" %>
    <%= form.text_field :total %>
    <%= form.hidden_field :user_id %>
  </div>
  <div class="col-lg-12 float-start">
    <%= form.submit "Update", :class => "n-btn d-inline-block" %>
  </div>
<% end %>