<div id="<%= dom_id tracker %>">
  <h2 id="tracker-heading">Habit <%= tracker.id %></h2>
  <!--Implemented 'strftime' to format the date of each tracker to display the month and year only.-->
  <p><%= tracker.habitdate.strftime("%B" + " " + "%Y") %></p>
  <p><strong>Habit</strong><br><%= tracker.title %></p>
  <p><%= tracker.score %></p>
  <p><%= tracker.intention %></p>
  <span>
    <strong>1</strong>
    <%= tracker.day1 %>
  </span>
  <span>
    <strong>2</strong>
    <%= tracker.day2 %>
  </span>
  <span>
    <strong>3</strong>
    <%= tracker.day3 %>
  </span>
  <span>
    <strong>4</strong>
    <%= tracker.day4 %>
  </span>
  <span>
    <strong>5</strong>
    <%= tracker.day5 %>
  </span>
  <span>
    <strong>6</strong>
    <%= tracker.day6 %>
  </span>
  <span>
    <strong>7</strong>
    <%= tracker.day7 %>
  </span>
  <span>
    <strong>8</strong>
    <%= tracker.day8 %>
  </span>
  <span>
    <strong>9</strong>
    <%= tracker.day9 %>
  </span>
  <span>
    <strong>10</strong>
    <%= tracker.day10 %>
  </span>
  <span>
    <strong>11</strong>
    <%= tracker.day11 %>
  </span>
  <span>
    <strong>12</strong>
    <%= tracker.day12 %>
  </span>
  <span>
    <strong>13</strong>
    <%= tracker.day13 %>
  </span>
  <span>
    <strong>14</strong>
    <%= tracker.day14 %>
  </span>
  <span>
    <strong>15</strong>
    <%= tracker.day15 %>
  </span>
  <span>
    <strong>16</strong>
    <%= tracker.day16 %>
  </span>
  <span>
    <strong>17</strong>
    <%= tracker.day17 %>
  </span>
  <span>
    <strong>18</strong>
    <%= tracker.day18 %>
  </span>
  <span>
    <strong>19</strong>
    <%= tracker.day19 %>
  </span>
  <span>
    <strong>20</strong>
    <%= tracker.day20 %>
  </span>
  <span>
    <strong>21</strong>
    <%= tracker.day21 %>
  </span>
  <span>
    <strong>22</strong>
    <%= tracker.day22 %>
  </span>
  <span>
    <strong>23</strong>
    <%= tracker.day23 %>
  </span>
  <span>
    <strong>24</strong>
    <%= tracker.day24 %>
  </span>
  <span>
    <strong>25</strong>
    <%= tracker.day25 %>
  </span>
  <span>
    <strong>26</strong>
    <%= tracker.day26 %>
  </span>
  <span>
    <strong>27</strong>
    <%= tracker.day27 %>
  </span>
  <span>
    <strong>28</strong>
    <%= tracker.day28 %>
  </span>
  <span>
    <strong>29</strong>
    <%= tracker.day29 %>
  </span>
  <span>
    <strong>30</strong>
    <%= tracker.day30 %>
  </span>
  <span>
    <strong>31</strong>
    <%= tracker.day31 %>
  </span>
  <p>
    <strong>Progress</strong>
    <%= tracker.total %>
  </p>
</div>